.calculator {
  display: flex;
}
.calc_body {
  width: 80%;
  /* border: 1px solid #ccc; */
  height: 100vh;
}
.calc_nav {
  /* border: 1px solid #ccc; */
  width: 20%;
  height: 100vh;
}
.calc_controls {
  width: 100%;
  height: 20%;
  display: flex;
}
.calc_screen {
  height: 80%;
  /* border: 1px solid #ccc; */
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
}
.memory_operators {
  height: 7%;
  display: grid;
  grid-template-columns: repeat(13, 1fr);
}
.calc_body_operators {
  height: 93%;
  /* border: 1px solid #ccc; */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 3px;
}
.result {
  font-size: 48px;
}
.calc_view {
  height: 20%;
}
.calc_body_controls {
  height: 80%;
}
.number {
  font-size: 16px;
}
.bold {
  font-weight: bold;
}
.unbold {
  color: #868282;
}
.memory_btn {
  background-color: unset;
}
.memory_btn:hover {
  border: 1px solid #ccc;
}
.operand {
  font-size: 20px;
  background-color: #fafafa;
}
.operator {
  background-color: #ebebeb;
}
.operator:hover,
.operand:hover {
  background-color: #a8a7a6;
}
button {
  border: unset;
}
.equal {
  background-color: #a8a7a6;
}
.equal:hover {
  background-color: #494949;
}
.first_operand,
.second_operand,
.current_operator {
  font-size: 15px;
}
.current_operation_cont {
  color: #494949;
  display: flex;
  align-items: center;
}
.display {
  padding: 0 3px;
}
.calc_nav_header {
  display: flex;
}
.side_nav {
  height: 40px;
  margin: 5px;
  padding: 10px;
  background-color: unset;
  font-weight: 900;
  font-size: 18px;
}
.side_nav::after.current_nav {
  content: "";
  height: 3px;
  background-color: #494949;
  width: 100%;
  display: block;
  margin-top: 5px;
}
.history_nav_body {
  text-align: end;
}
.memory_nav_body {
  text-align: start;
}
